Creepy tunnel on Main Street in Downtown Houston
			

<p>For my traditional Saturday morning walk today, I decided to head the opposite direction and take Main St. to downtown. It was a novel and fragrant inner-city experience, ending with a trek through a long, creepy tunnel just before I reached downtown Houston. All the same, I love urban landscapes and therefore couldn’t resist the urge to stop and take some photos on my trusty iPhone:</p>
<a href="{{UPLOADS_URL}}}IMG_0665.jpg">
<img alt="Tunnel Entrance on Main Street, Houston, TX" src="{{UPLOADS_URL}}}IMG_0665-300x223.jpg" width="300" height="223"></a>
<p class="caption">Tunnel entrance</p>


<a href="{{UPLOADS_URL}}}IMG_0662.jpg"><img alt="Tunnel halfway point on Main Street, Houston, TX" src="{{UPLOADS_URL}}}IMG_0662-300x225.jpg" width="300" height="225"></a>
<p class="caption">Tunnel halfway point – getting pretty dark here, the openings are casting those cool green shadows on the walls.</p>