Panoramic view of downtown Houston on Halloween
			

<p>A panoramic view of Downtown Houston I took on Halloween using <a title="Pano" href="http://debaclesoftware.com/">Pano</a>:</p>

<a href="{{UPLOADS_URL}}IMG_0650.jpg"><img class="size-medium wp-image-441" title="Downtown Houston" alt="Downtown Houston" src="{{UPLOADS_URL}}IMG_0650-300x119.jpg" width="300" height="119"></a>
<p class="caption">Panoramic photo of downtown Houston</p>

<p>There was a lot of rain earlier that day and the previous night so you can see the bayou is really high. It even covered the trail at several points:</p>

<a href="{{UPLOADS_URL}}IMG_0646.jpg"><img class="size-medium wp-image-431" alt="Houston Bike Trail" src="{{UPLOADS_URL}}IMG_0646-300x225.jpg" width="300" height="225"></a>
<p class="caption">Houston Bike Trail</p>