<div class="row">
    <div class="nine columns" id="content">
        <h1>Welcome</h1>
        <p>Home page</p>
    </div>
    <aside class="three columns">
        <h5>About Me</h5>
        <p>I am addicted to JavaScript, C#, Sass and Foundation... although I occassionaly get caught staying out too late with PHP, Ruby, Python and the occasional shell script...</p>
        <p><a href="https://github.com/kbrammer/kevinbrammer.azurewebsites.net/wiki.atom">
            <img src="~/Assets/images/feed-icon-14x14.png" />
            Subscribe</a></p>
    </aside>
</div>

