body 
{
    margin:2%;
}
h1
{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.gTitle
{
     font-size:x-large;
     background-image:url("Images/cyberslingers_header_gradient.png");
     background-repeat:repeat-x; 
     width:100%;
}
.gSearchBox
{
    text-align: center;
    float:left;
    width:50%;
}
.gStats-left
{
    float:left;
    text-align:left;
    width:25%;
}
.gStats-left a
{
    color:#ffffff;
    text-decoration:none;
}
.gStats-right
{
    float:right;
    text-align:right;
    width:23%;
}
.gStats-clear
{
    clear:both;
    height:1px;
    padding:0px;
}
.gStats
{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    background-color: #090A0C;
    margin-top:1px;
    padding: 6px;
}
.gResults{}
.gTitleLink
{
    font-size:larger;
    width: 100%;
    margin-top:15px;
}
.gPackageLink
{
    width:100%;
}
.gPackageLink a
{
    color:Green;
    text-decoration:none;
}
.gCode
{

}
